<div class="bg-light small">
		<b><span class = "fa fa-user"></span> <%=qcomment.user.nickname%>:</b> <%=strip_tags(qcomment.text)%>
		<span class = "fa fa-times" style="color: lightgray;">
</div>
<hr class="hr-1" />