<div class="bg-light small">
		<b><span class = "fa fa-user"></span> <%=postcomment.user.nickname%>:</b> <%=strip_tags(postcomment.text)%>
		<%if postcomment.user.id==current_user.id%><%=link_to post_postcomment_path(postcomment.post.id,postcomment.id),data: {confirm: "Видалити?"}, method: :delete do%> <span class = "fa fa-times" style="color: lightgray;"><%end%>
		<%end%>
</div>
<hr class="hr-1" />