

<h1><%= @post.title%></h1>
<div><%= sanitize @post.body%></div>
<div>
<%= raw Tag.where(resource_id: @post.id, resource_type: "post").map{|tag| tag = Category.find(tag.category_id)}.map(&:name).map{ |t| link_to t, category_path(t), class: 'font-weight-bold badge badge-secondary' }.join(' ') %>
</div>