<div class="row">
<div class="col">
	<h1><%=@category.name%></h1>
	<hr/>
	<h3>Posts</h3>
	<%=render @posts%>
	<h3>Questions</h3>
	<%=render @questions%>
</div>
<div class="col-12 col-md-3">
	 <%= render "layouts/sidebar"%>
</div>
</div>