<div class="row">
<div class="col">
	<h1><%=@category.name%></h1>
	<%=render @posts%>
	<hr />
	<%=render @questions%>
</div>
<div class="col-12 col-md-3">
	 <%= render "layouts/sidebar"%>
</div>
</div>