
<br/>
<div class="d-sm-none d-md-block card">
	<%= image_tag "your-ad-here.png", :class=>"card-img-top"  %>

		<div class="card-body">
		<p class="card-text"><%=t('your_ad_here')%> <br />ads@doit.com</p>
		</div>
</div>
<br/>
<%=render "layouts/qrcode"%>
